.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    flex-wrap: wrap;
}

#footer_center > h6:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

#footer_center{
    margin-bottom: 1em;
}

#social_media{
    width: 100%;
    height: 2em;
    margin: auto;
}

#social_media:hover{
    cursor: pointer;
}

#copyright{
    width: 30%;
    margin: auto;
    margin-bottom: 3em;
}