#add_to_cart{
    text-decoration: none;
    color: black;
    background: #DBFF00;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
}

#search_bar{
    height: fit-content;
}

#most_sold{
    margin-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}


#all_products{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
}


#features{
    justify-content: center;
    gap: 3em;
    margin-bottom: 5em;
    display: flex;
    flex-wrap: wrap;
}

#footer{
    justify-content: center;
    gap: 3em;
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
}

#footer_center > h6:hover{
    cursor: pointer;
    text-decoration: underline;
}

#social_media{
    width: 10%;
    height: 2em;
    margin: auto;
}

#social_media:hover{
    cursor: pointer;
}

#copyright{
    width: 30%;
    margin: auto;
    margin-bottom: 3em;
}

/* #carousel_1{
    display: flex;
    align-items: center;
    justify-content: center;
} */

#first_carousel{
    width: 40%;
}

#carousel_img{
    width: 30%;
}